<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/_sass/style.css">
</head>
<body>

<div class="header">
    <div class="header">
        <img src="/img/logo.png" alt="Image de Premier Plan" class="foreground-image">
        <h1></h1>
    </div>
</div>

<div class="nav">
    <a id="">Nouvelle</a>
</div>

<div class="main">
    <table id="vm_list">

    </table>
</div>

<div class="footer">
    <p>UniVbox © 2024</p>
</div>

</body>
</html>
